* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body {
    background-color: #e7e7e7;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 760px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    width: 40%;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    border-radius: 15px;
}

form button {
    width: 15%;
    background-color: #c54949;
    border-radius: 15px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-bottom: 2px inset #9e2811;
    cursor: pointer;
    padding: 8px;
}

form button:hover {
    border:none;
}

table {
    background-color: #c58b7eba;
    width: 100%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: #000 4px 6px 8px -4px
}


table th {
    padding: 16px;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

th:first-child{
    border-right: 2px solid black;
}

td:first-child{
    border-right: 2px solid black;
}

table td {
    text-align: left;
    font-size: 28px;
    padding: 16px 16px;
    border-top: 2px dotted black;
}

#headerNome {
    width: 65%;
}